/* CSS DOCUMENT */
@charset "UTF-8";

body {
    font-family:"Libre Baskerville", serif;
    font-style: normal;
    font-weight: 400;
    background-color: #D2C3F6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-wrap-style: balance;

}

/*aplicaciones*/

h1 {
    font-family:"Shrikhand", serif;
    font-style: normal;
    font-weight: 400;
    color: #D2C3F6;
    font-size: 65px;
    line-height: 55px;
}

#foto {
    justify-items: center;
    margin: 32px;
    border: 17px solid #211D2D;
    border-radius: 50px

}

#sobremi {
    font-size: 33px;
line-height: 68px;
}

p {
    line-height: 25px;
    max-width: 500px;
}

h2 {
    font-family:"Libre Baskerville",serif;
    font-style: normal;
    font-weight: 700;
    color: #211D2D;
}

h3 {
    font-family:"Libre Baskerville", serif;
    font-style: italic;
    font-weight: 400;
}

/*acá comienza mi encabezado*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 32px;
    background-color: #211D2D;
    height: 140px;
    gap: 25px;
}

#Carrera {
    font-size: 16px;
    color: #D2C3F6;
    line-height: 22px;
    text-align: right;
}

/*comienza lo que hay dentro del cuerpo*/

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 4rem;
    margin: 80px;
    flex-direction: row;
}

/*el cuadro sobre mi*/

.Arriba {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/*aca empiezan las cuatro cajas debajo del "aparte de mi"*/
.contenedor {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: space-between;
}

.box {
    flex: 1 1 calc(50% - 20px);
  background: #b3a2b4;
  padding: 40px;
  border-radius: 10px;
}

/*acá va contenido del footer*/

#Contacto {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 31px 0px;
    background-color: #211D2D;
    height: 164px;
    flex-direction: column;
}

#final {
    color: #D2C3F6;
}

#contactos {
    color: white;
    text-align: center;
}