/* CSS DOCUMENT */
@charset "UTF-8";

body {
    font-family:"Libre Baskerville", serif;
    font-style: normal;
    font-weight: 400;
    background-color: #D2C3F6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-wrap-style: balance;

}

/*aplicaciones*/

h1 {
    font-family:"Shrikhand", serif;
    font-style: normal;
    font-weight: 400;
    color: #D2C3F6;
    font-size: 65px;
}

img {
    border-radius: 18px;
    justify-items: center;
    margin: 32px;
}

h2 {
    font-family:"Libre Baskerville",serif;
    font-style: normal;
    font-weight: 700;
    color: #211D2D;
}

h3 {
    font-family:"Libre Baskerville", serif;
    font-style: italic;
    font-weight: 400;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 32px;
    background-color: #211D2D;
    height: 114px;
}

#Carrera {
    font-size: 16px;
    color: #D2C3F6;
}


main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 4rem;
    margin: 80px;
    flex-direction: row;
}

.Arriba {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.box {
    flex: 1 1 calc(50% - 20px); /* 2 columnas iguales */
  background: #b3a2b4;
  padding: 20px;
  border-radius: 10px;
}